@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mulish", sans-serif;
}

@layer base {
  @import url(./tailwind-colors.css);
}

@layer base {
  :root {
    --background: var(--offWhite);
    --foreground: var(--zinc-950);
    --card: var(--white);
    --card-foreground: var(--zinc-950);
    --popover: var(--zinc-100);
    --popover-foreground: var(--zinc-950);
    /* --primary: var(--black); */
    --primary: var(--blackText);
    --primary-foreground: var(--zinc-50);
    --secondary: var(--zinc-100);
    --secondary-foreground: var(--zinc-800);
    --muted: var(--zinc-100);
    --detail: var(--gray-600);
    --muted-foreground: var(--zinc-500);
    --accent: var(--zinc-200);
    --accent-foreground: var(--zinc-900);
    --destructive: var(--red-600);
    --destructive-foreground: var(--zinc-50);
    --border: var(--zinc-200);
    --input: var(--zinc-300);
    --ring: var(--black);
    --primary-green: var(--primaryGreen-900);
    --primary-green-background: var(--primaryGreen-200);
    --primary-green-hover: var(--primaryGreen-100);
    --secondary-green: var(--primaryGreen-200);
    --mobile-header-height: 74px;
    --header-height: 56px;
    --footer-height: var(--mobile-header-height);
    --screen-minus-header: calc(100vh - var(--header-height));
    --screen-minus-header-n-footer: calc(
      100vh - var(--header-height) - var(--footer-height)
    );
    --screen-minus-header-n-footer-n-searchbar: calc(
      100vh - var(--header-height) - var(--footer-height) -
        var(--searchbar-height)
    );
  }

  @media (min-width: 640px) {
    :root {
      --header-height: 72px;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --footer-height: 0px;
    }
  }

  @media (min-width: 640px) {
    :root {
      --searchbar-height: 90px;
    }
  }
  /* We don't have dark mode yet, but we will use this if we want to add it */

  /* .dark {
		--background: var(--zinc-950);
		--foreground: var(--zinc-50);
		--card: var(--zinc-950);
		--card-foreground: var(--zinc-50);
		--popover: var(--zinc-950);
		--popover-foreground: var(--zinc-50);
		--primary: var(--zinc-50);
		--primary-foreground: var(--zinc-900);
		--secondary: var(--zinc-800);
		--secondary-foreground: var(--zinc-50);
		--muted: var(--zinc-800);
		--muted-foreground: var(--zinc-400);
		--accent: var(--zinc-800);
		--accent-foreground: var(--zinc-50);
		--destructive: var(--red-900);
		--destructive-foreground: var(--zinc-50);
		--border: var(--zinc-800);
		--input: var(--zinc-800);
		--ring: var(--zinc-300);
	} */
}

@layer base {
  * {
    @apply scroll-mt-36 border-border;
  }
  body {
    @apply bg-zinc-50 text-foreground;
  }
  :root {
    @apply scroll-smooth selection:bg-teal-700 selection:text-white;
  }
}

@layer components {
  .subheading {
    @apply text-xl font-semibold md:text-2xl;
  }
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

@font-face {
  font-family: "FiraSansExtraCondensed-ExtraBold";
  src: url("../../public/fonts/FiraSansExtraCondensed-ExtraBold.ttf");
}

.custom-tabs-trigger {
  @apply border-b-2 transition-colors hover:border-[#2F5BF6] hover:text-[#2F5BF6];
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Number of lines to show before truncating */
  line-clamp: 3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
  opacity: 0;
}
